/*.col-xs-12, .col-xs-4, .col-xs-8 {*/
    /*border: 1px solid red;*/
/*}*/

/*Global Styles*/
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.alert {
    margin-top: 10px;
}

#footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#group-selector {
    margin-top: 30px;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    color: #555;
}

th, td {
    text-align: center;
}

caption {
    font-weight: bold;
    text-align: center;
    color: black;
}

/*#content-column {*/
    /**/
/*}*/